
.node {
  cursor: pointer;
}

.link {
  stroke: #999;
  stroke-opacity: 0.6;
}

.node foreignObject {
  pointer-events: none;
  font: 0px sans-serif;
  padding: 0px;
  color: white;
}

.node circle {
  stroke: white;
}

.bignodes circle {
  fill: none !important;
}

.bignodes foreignObject {
  font: 12px sans-serif !important;
}

.bignodes .textbox {
  padding: 10px !important;
}
